[packages]
black = "*"
flake8 = "*"
isort = "*"
pip = "*"
python-dotenv = "*"
transformers = "*"
torch = "*"
scikit-learn = "*"
datasets = "*"
wandb = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"

[requires]
python_version = "3.13"
